*{
    margin: 0px,0px;
    padding: 0;
    box-sizing:border-box;
}


a{
    color:#14bf2ed9;
    text-decoration: none;
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
 .back
  {
      
  font-size: large;
  text-align: center;
  padding: 25px;
  background-color: black;
  background-origin: padding-box;
  }

 .back h1{
      
    color:white;
    font-family:'Times New Roman', Times, serif;
 } 

.banner{
    margin-left: 50%;
}
.responsive_image{
    height: auto;
    width: 50%;
    max-width: 100%;
}

.responsive_image{
    height: auto;
    width: 50%;
    max-width: 100%;
}

.responsive_image1{
    height: auto;
    width: 75%;
    max-width: 100%;
}

.responsive_image1:hover{

   background-color:white;
}

.container{
width: 1170px;
padding:0px,10px;
margin: 0 auto;

}
.coloumn-70{
   float: right;
}
.row{
    clear: both;
    overflow: hidden;
}
.coloumn-10{
    width: 10%
}
.coloumn-20{
    width: 20%
}
.coloumn-30{
    width: 30%
}
.coloumn-40{
    width: 40%
}
.coloumn-50{
    width: 50%
}
.coloumn-60{
    width: 60%
}
.coloumn-80{
    width: 80%
}

.coloumn-90{
    width: 90%
}
.coloumn-100{
    width: 100%;
}
nav{
    overflow: hidden;
    background-color:#8b0000;
}
nav ul li{
    list-style: none;
    float:left;
    display:inline block;
}

nav ul li:hover
{
    background:white;

}

nav ul li:hover ul
{
    display:black;

}

nav ul li a{
    color: white;
    display: block;
    padding: 10px 20px;
}
nav ul li a:hover
{
    color:black;
    
}

nav ul li a:hover li
{
    display:block;
}


.login
{
    width: 300px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    
}

.login h1{
    font-size:45px;
    color:black;

}
.login input[type="text"],.login input[type="PASSWORD"]
{
    margin:20px auto;
    text-align:center;
    background: none;
    display: block;
    border:2px solid blue;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;

}
.login input[type="text"],.login input[type="EMAIL"]
{
    margin:20px auto;
    text-align:center;
    background: none;
    display: block;
    border:2px solid blue;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;

}

.login input[type="submit"]
{
    margin:20px auto;
    text-align:center;
    background: none;
    display: block;
    padding:10px 30px;
    width:100px;
    outline:none;
    color:black;
    transition: 0.25s;
    cursor:pointer;
    border:2px solid blue;
    border-radius:50px;

}

.login input[type="submit"]:hover{
    background:green;
    color:white;
}
.about1
{
    width: 300px;
    padding:40px;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    
}

.about2
{ 
    text-align: center;
    padding: 10%;
}
.about2 h2{
    color:blue;
}

.sup
{
    width: 300px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    
}

.sup h2{
    font-size:50px;
    color:black;


}
.sup input[type="text"],.sup input[type="PASSWORD"]
{
    margin:20px auto;
    text-align:center;
    background: none;
    display: block;
    border:2px solid blue;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;


}

.sup input[type="submit"]
{
    margin:20px auto;
    text-align:center;
    background: none;
    display: block;
    padding:10px 30px;
    width:100px;
    outline:none;
    color:black;
    transition: 0.25s;
    cursor:pointer;
    border-radius: 70px;
    border:2px solid blue;

}

.sup input[type="submit"]:hover{
    background:green;
    color:white;
}

.breaking-news{
    padding: 10px;
    color: black;
    font-family: "Arial";
    font-weight: bold;
    font-size: 15px;
}
.breaking-news .update-left{
padding: 5px 5px;
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;

}
.breaking-news .update-right{
padding: 5px 5px;

}
.heading{
    text-align: center;
    color:blue;
}

.center {
    display: block;
  margin-left: 255px;
  margin-right: auto;
  width: 50%;
    
}


.container-class1 {
    background-image: url(96059606-abstract-sports-background-with-soccer-ball-football-field-illustration-.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 50px;   
}

  .logo{
      margin-right:50%; 

  }
  
  #about {
    top: 260px;
    background-color:#00bff3;
  }
  
  #blog {
    top: 320px;
    background-color:#00bff3;
  }
  
  #projects {
    top: 380px;
    background-color:#00bff3;
  }
  
  #contacta {
    top: 440px;
    background-color: #00bff3;
}

#desription{
    margin-left:100px;
    margin-right: 100px;
    color: black;
    border: 1px solid grey;
   border-radius: 10%;
    padding: 25px;

}
#image{
    float:right;

}
#demo2{
    margin-right: 160px;

}
#demo1{
    margin-right: 160px;

}
#demo{
    margin-right: 160px;

}

#image1{
    float:right;

}
#demo2d1{
    margin-right: 160px;

}
#demo1c1{
    margin-right: 160px;

}
#demot1{
    margin-right: 160px;

}
#image2{
    float:right;

}
#demo2d2{
    margin-right: 160px;

}
#demo1c2{
    margin-right: 160px;

}
#demot2{
    margin-right: 160px;

}
#image3{
    float:right;

}
#demo2d3{
    margin-right: 160px;

}
#demo1c3{
    margin-right: 160px;

}
#demot3{
    margin-right: 160px;

}
#image4{
    float:right;

}
#demo2d4{
    margin-right: 160px;

}
#demo1c4{
    margin-right: 160px;

}
#demot4{
    margin-right: 160px;

}
#image5{
    float:right;

}
#demo2d5{
    margin-right: 160px;

}
#demo1c5{
    margin-right: 160px;

}
#demot5{
    margin-right: 160px;

}
#image6{
    float:right;

}
#demo2d6{
    margin-right: 160px;

}
#demo1c6{
    margin-right: 160px;

}
#demot6{
    margin-right: 160px;

}
#image7{
    float:right;

}
#demo2d7{
    margin-right: 160px;

}
#demo1c7{
    margin-right: 160px;

}
#demot7{
    margin-right: 160px;

}
#image8{
    float:right;

}
#demo2d8{
    margin-right: 160px;

}
#demo1c8{
    margin-right: 160px;

}
#demot8{
    margin-right: 160px;

}
#image9{
    float:right;

}
#demo2d9{
    margin-right: 160px;

}
#demo1c9{
    margin-right: 160px;

}
#demot9{
    margin-right: 160px;

}
#desriptions{
    margin-left:150px;
    margin-right: 350px;
    color: black;

}
#images{
    float:right;

}
#demo2s{
    margin-right: 160px;

}
#demo1s{
    margin-right: 160px;

}
#demos{
    margin-right: 160px;

}

#image1s{
    float:right;

}
#demo2d1s{
    margin-right: 160px;

}
#demo1c1s{
    margin-right: 160px;

}
#demot1s{
    margin-right: 160px;

}
#image2s{
    float:right;

}
#demo2d2s{
    margin-right: 160px;

}
#demo1c2s{
    margin-right: 160px;

}
#demot2s{
    margin-right: 160px;

}
#image3s{
    float:right;

}
#demo2d3s{
    margin-right: 160px;

}
#demo1c3s{
    margin-right: 160px;

}
#demot3s{
    margin-right: 160px;

}
#image4s{
    float:right;

}
#demo2d4s{
    margin-right: 160px;

}
#demo1c4s{
    margin-right: 160px;

}
#demot4s{
    margin-right: 160px;

}
#image5s{
    float:right;

}
#demo2d5s{
    margin-right: 160px;

}
#demo1c5s{
    margin-right: 160px;

}
#demot5s{
    margin-right: 160px;

}
#image6s{
    float:right;

}
#demo2d6s{
    margin-right: 160px;

}
#demo1c6s{
    margin-right: 160px;

}
#demot6s{
    margin-right: 160px;

}
#image7s{
    float:right;

}
#demo2d7s{
    margin-right: 160px;

}
#demo1c7s{
    margin-right: 160px;

}
#demot7s{
    margin-right: 160px;

}
#image8s{
    float:right;

}
#demo2d8s{
    margin-right: 160px;

}
#demo1c8s{
    margin-right: 160px;

}
#demot8s{
    margin-right: 160px;

}
#image9s{
    float:right;

}
#demo2d9s{
    margin-right: 160px;

}
#demo1c9s{
    margin-right: 160px;

}
#demot9s{
    margin-right: 160px;

}
#desriptionf{
    margin-left:150px;
    margin-right: 350px;
    color: black;

}
#imagef{
    float:right;

}
#demo2f{
    margin-right: 160px;

}
#demo1f{
    margin-right: 160px;

}
#demof{
    margin-right: 160px;

}

#image1f{
    float:right;

}
#demo2d1f{
    margin-right: 160px;

}
#demo1c1f{
    margin-right: 160px;

}
#demot1f{
    margin-right: 160px;

}
#image2f{
    float:right;

}
#demo2d2f{
    margin-right: 160px;

}
#demo1c2f{
    margin-right: 160px;

}
#demot2f{
    margin-right: 160px;

}
#image3f{
    float:right;

}
#demo2d3f{
    margin-right: 160px;

}
#demo1c3f{
    margin-right: 160px;

}
#demot3f{
    margin-right: 160px;

}
#image4f{
    float:right;

}
#demo2d4f{
    margin-right: 160px;

}
#demo1c4f{
    margin-right: 160px;

}
#demot4f{
    margin-right: 160px;

}
#image5f{
    float:right;

}
#demo2d5f{
    margin-right: 160px;

}
#demo1c5f{
    margin-right: 160px;

}
#demot5f{
    margin-right: 160px;

}
#image6f{
    float:right;

}
#demo2d6f{
    margin-right: 160px;

}
#demo1c6f{
    margin-right: 160px;

}
#demot6f{
    margin-right: 160px;

}
#image7f{
    float:right;

}
#demo2d7f{
    margin-right: 160px;

}
#demo1c7f{
    margin-right: 160px;

}
#demot7f{
    margin-right: 160px;

}
#image8f{
    float:right;

}
#demo2d8f{
    margin-right: 160px;

}
#demo1c8f{
    margin-right: 160px;

}
#demot8f{
    margin-right: 160px;

}
#image9f{
    float:right;

}
#demo2d9f{
    margin-right: 160px;

}
#demo1c9f{
    margin-right: 160px;

}
#demot9f{
    margin-right: 160px;

}

#desriptionc{
    margin-left:150px;
    margin-right: 350px;
    color: black;

}
#imagec{
    float:right;

}
#demo2c{
    margin-right: 160px;

}
#demo1c{
    margin-right: 160px;

}
#democ{
    margin-right: 160px;

}

#image1c{
    float:right;

}
#demo2d1c{
    margin-right: 160px;

}
#demo1c1c{
    margin-right: 160px;

}
#demot1c{
    margin-right: 160px;

}
#image2c{
    float:right;

}
#demo2d2c{
    margin-right: 160px;

}
#demo1c2c{
    margin-right: 160px;

}
#demot2c{
    margin-right: 160px;

}
#image3c{
    float:right;

}
#demo2d3c{
    margin-right: 160px;

}
#demo1c3c{
    margin-right: 160px;

}
#demot3c{
    margin-right: 160px;

}
#image4c{
    float:right;

}
#demo2d4c{
    margin-right: 160px;

}
#demo1c4c{
    margin-right: 160px;

}
#demot4c{
    margin-right: 160px;

}
#image5c{
    float:right;

}
#demo2d5c{
    margin-right: 160px;

}
#demo1c5c{
    margin-right: 160px;

}
#demot5c{
    margin-right: 160px;

}
#image6c{
    float:right;

}
#demo2d6c{
    margin-right: 160px;

}
#demo1c6c{
    margin-right: 160px;

}
#demot6c{
    margin-right: 160px;

}
#image7c{
    float:right;

}
#demo2d7c{
    margin-right: 160px;

}
#demo1c7c{
    margin-right: 160px;

}
#demot7c{
    margin-right: 160px;

}
#image8c{
    float:right;

}
#demo2d8c{
    margin-right: 160px;

}
#demo1c8c{
    margin-right: 160px;

}
#demot8c{
    margin-right: 160px;

}
#image9c{
    float:right;

}
#demo2d9c{
    margin-right: 160px;

}
#demo1c9c{
    margin-right: 160px;

}
#demot9c{
    margin-right: 160px;

}

#desriptionh{
    margin-left:150px;
    margin-right: 350px;
    color: black;

}
#imageh{
    float:right;

}
#demo2h{
    margin-right: 160px;

}
#demo1h{
    margin-right: 160px;

}
#demoh{
    margin-right: 160px;

}

#image1h{
    float:right;

}
#demo2d1h{
    margin-right: 160px;

}
#demo1c1h{
    margin-right: 160px;

}
#demot1h{
    margin-right: 160px;

}
#image2h{
    float:right;

}
#demo2d2h{
    margin-right: 160px;

}
#demo1c2h{
    margin-right: 160px;

}
#demot2h{
    margin-right: 160px;

}
#image3h{
    float:right;

}
#demo2d3h{
    margin-right: 160px;

}
#demo1c3h{
    margin-right: 160px;

}
#demot3h{
    margin-right: 160px;

}
#image4h{
    float:right;

}
#demo2d4h{
    margin-right: 160px;

}
#demo1c4h{
    margin-right: 160px;

}
#demot4h{
    margin-right: 160px;

}
#image5h{
    float:right;

}
#demo2d5h{
    margin-right: 160px;

}
#demo1c5h{
    margin-right: 160px;

}
#demot5h{
    margin-right: 160px;

}
#image6h{
    float:right;

}
#demo2d6h{
    margin-right: 160px;

}
#demo1c6h{
    margin-right: 160px;

}
#demot6h{
    margin-right: 160px;

}
#image7h{
    float:right;

}
#demo2d7h{
    margin-right: 160px;

}
#demo1c7h{
    margin-right: 160px;

}
#demot7h{
    margin-right: 160px;

}
#image8h{
    float:right;

}
#demo2d8h{
    margin-right: 160px;

}
#demo1c8h{
    margin-right: 160px;

}
#demot8h{
    margin-right: 160px;

}
#image9h{
    float:right;

}
#demo2d9h{
    margin-right: 160px;

}
#demo1c9h{
    margin-right: 160px;

}
#demot9h{
    margin-right: 160px;

}

.clr{
    clear: both;
}
.footer-wrapper{
    width: 100%;
    height: auto;
    min-height: 250px;
    margin: auto;
    background-image: url(download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;

}
.footer-social-icons{
    width: 100%;
    height:auto;
    margin:auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
}
.footer-social-icons ul li{
    display: inline-block;
    margin-right: 2px;
    width: 36px;
    height:36px;
    text-align: center;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.ct-u-paddingTop10 {
    padding-top: 10px !important
}

.ct-footer {
    background-color: #111;
    padding-top: 70px;
    margin-top: 20px;
    position: relative;
}

.ct-footer-pre {
    width: 100%;
    padding-bottom: 55px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width:1200px) {
    .ct-footer-pre {
        display: table
    }
    .ct-footer-pre > .inner {
        display: table-cell;
        vertical-align: middle
    }
}

@media (max-width:1199px) {
    .ct-footer-pre .form-group {
        padding-top: 15px
    }
}

.ct-footer-pre span {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ebebeb;
    font-size: 30px
}

.ct-footer-pre .form-group {
    position: relative;
    margin: 0;
}

.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
    content: '';
    display: table
}

.ct-footer-pre .form-group:after {
    clear: both
}

.ct-footer-pre .form-group input {
    border: 1px solid#14bf2ed9;
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 0 30px;
    margin: 0 5px;
    border-radius: 0 !important;
}

@media (min-width:480px) {
    .ct-footer-pre .form-group input {
        width: 331px
    }
}

.ct-footer-pre .form-group button {
    height: 50px;
    position: relative;
    width: 80px;
    padding: 0
}

@media (min-width:480px) {
    .ct-footer-pre .form-group button {
        top: -1px
    }
}

@media (max-width:479px) {
    .ct-footer-pre .form-group input {
        float: left;
        width: 70%;
        margin: 0
    }
    .ct-footer-pre .form-group button {
        float: left;
        width: 30%
    }
}

.ct-footer-list {
    padding: 50px 0;
    list-style: none;
    padding-left: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width:479px) {
    .ct-footer-list {
        padding: 20px 0
    }
}

@media (min-width:1200px) {
    .ct-footer-list > li {
        width: 20%;
        display: table-cell;
        vertical-align: top
    }
    .ct-footer-list > li:last-child {
        width: 7%
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .ct-footer-list > li {
        width: 33.3333%
    }
}

@media (min-width:480px) and (max-width:767px) {
    .ct-footer-list > li {
        width: 50%
    }
}

@media (max-width:479px) {
    .ct-footer-list > li {
        width: 100%;
        text-align: center
    }
}

@media (max-width:1199px) {
    .ct-footer-list > li {
        display: inline-block;
        
    }
}

.ct-footer-list > li .ct-footer-list-header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #14bf2ed9;
    font-size: 30px
}

.ct-footer-list > li ul {
    list-style: none;
    padding-left: 0;
}

.ct-footer-list > li ul li a {
    color: #fff;
}

.ct-footer-list > li ul li a:hover {
    text-decoration: underline
}

.ct-footer-post {
    background: #000;
    padding: 30px 0;
}

.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
    padding: 20px 0
}

.ct-footer-post ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;
}

.ct-footer-post ul li {
    display: inline-block;
    margin: 0 20px
}

.ct-footer-post a {
    color: #fff;
}

.ct-footer-post a:hover {
    text-decoration: underline
}

.ct-footer-post p {
    color: #fff;
}

@media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block
    }
    .ct-footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}

.ct-footer-meta {
    padding-top: 30px;
}

.ct-footer-meta .ct-socials {
    padding: 20px 0;
}

.ct-footer-meta .ct-socials li {
    padding: 0 3px
}

.ct-footer--with-button {
    padding-top: 150px
}

address {
    color: #fff;
    display: inline-block;
}

address span {
    font-weight: 600
}

address a {
    color: #fff;
}

address a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    color: #111;
    font-size: 26px;
    padding: 12px 30px;
}

.btn.btn-motive {
    background-color: #14bf2ed9;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-motive:hover {
    background-color: #14bf2ed9;
}

.btn.btn-motive:hover:active {
    background-color: #14bf2ed9;
}

.btn.btn-violet {
    color: #fff;
    background-color: #14bf2ed9;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-violet:hover {
    background-color: #37376b;
}

.btn.btn-violet:hover:active {
    background-color: #2f2f5b
}

.btn.btn-green {
    color: #fff;
    background-color: #43670f;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-green:hover {
    background-color: #36520c;
}

.btn.btn-green:hover:active {
    background-color: #314a0b
}

.btn.btn-red {
    color: #fff;
    background-color: #da2229;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-red:hover {
    background-color: #ae1b21;
}

.btn.btn-red:hover:active {
    background-color: #9d181e
}

.btn.btn-white {
    background-color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-white:hover {
    background-color: #d9d9d9;
}

.btn.btn-white:hover:active {
    background-color: #14bf2ed9;
}

.btn.btn-large {
    padding: 20px 50px;
    font-size: 30px;
    white-space: normal;
}

@media (max-width:479px) {
    .btn.btn-large {
        padding: 20px 10px;
        line-height: .9;
        font-size: 26px;
        letter-spacing: -.2px
    }
}
.ct-mediaSection {
    background-attachment: fixed
}

.ct-section_header--type1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 115px;
    text-transform: uppercase;
}

@media (max-width:479px) {
    .ct-section_header--type1 {
        font-size: 60px;
        line-height: .8
    }
}

.ct-section_header--type2 small {
    font-family: 'coquette', fantasy;
    font-size: 58px;
    line-height: .7;
    display: block;
    font-weight: 700;
    position: relative;
    left: -12px
}

.ct-section_header--type2 span {
    font-family: 'Bebas Neue';
    font-size: 115px;
    line-height: .8
}

.ct-section_header--type2 img {
    display: inline-block;
    position: relative;
    top: 15px;
    padding-right: 3px
}

.ct-section_header--type3 {
    text-align: center;
}

.ct-section_header--type3 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    padding: 15px 0;
    font-weight: 700;
    color: #14bf2ed9;
    background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}

.ct-section_header--type3 span {
    font-family: 'Bebas Neue';
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: .85
}

@media (max-width:479px) {
    .ct-section_header--type3 small {
        font-size: 25px
    }
    .ct-section_header--type3 span {
        font-size: 90px
    }
}

.ct-section_header--type4 {
    text-align: center;
}

.ct-section_header--type4:before,
.ct-section_header--type4:after {
    content: '';
    display: table
}

.ct-section_header--type4:after {
    clear: both
}

.ct-section_header--type4 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    color: inherit;
    font-weight: 700;
    display: block
}

.ct-section_header--type4 span {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    display: block;
    line-height: .7
}

@media (max-width:479px) {
    .ct-section_header--type4 small {
        font-size: 40px
    }
    .ct-section_header--type4 span {
        font-size: 80px
    }
}

.ct-section_header + p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
}

@media (max-width:479px) {
    .ct-section_header + p {
        font-size: 22px
    }
}

.ct-section_header--type4 + p {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

@media (max-width:479px) {
    .ct-section_header--type4 + p {
        font-size: 28px
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.container1 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}